**Sets**

Sets are a built-in data type in Python used to store collections of unique items. They are unordered and do not allow duplicate elements. They are useful for: membership tests, eliminating duplicate entries and performing mathematical set operations like union, intersection, difference and symmetric difference.

Creating a set

In [2]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
myemptyset=set()
print(type(myemptyset))

<class 'set'>

In [7]:
my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [8]:
my_emptyset=set([1,2,3,6,5,4,5,6])##Duplicate elements 
print(my_emptyset)

{1, 2, 3, 4, 5, 6}

Basic Set Operations

1. Adding and Removing elements

In [9]:
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [10]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [11]:
my_set.remove(10)
print(my_set)

KeyError: 10

In [12]:
## Removing Elements from a set that is not present without the erroe above
my_set.discard(10)
print(my_set)

{1, 2, 4, 5, 6, 7}

2. Pop Method

In [15]:
## Remove with FIFO
removed_element=my_set.pop()
print(removed_element)
print(my_set)

4
{5, 6, 7}

3. Clear all the elements

In [16]:
my_set.clear()
print(my_set)

set()

Set Membership Test

In [18]:
myset={1,2,3,4,5}
print(3 in myset)
print(10 in myset)

True
False

Mathematical Operation

In [21]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [22]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference
print(set1.difference(set2))

{1, 2, 3}

In [25]:
print(set2.difference(set1))## No order

{8, 9, 7}

Symmetrical Difference

In [26]:
print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}

Set Methods

In [28]:
set1={1,2,3,4,5}
set2={3,4,5}

## Is subset
print(set1.issubset(set2))

print(set1.issuperset(set2)) ## All elements must be present for it to be correct

False
True

In [30]:
lst=[1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

Counting Unique words in Text

In [31]:
text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'tutorial', 'we', 'about', 'are', 'sets', 'discussing', 'In', 'this'}
8