# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [3]:
tpl=tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [5]:
print(f"The First Element: {tpl[0]}")
print(f"The Middle Element: {tpl[len(tpl)//2]}")
print(f"The Last Element: {tpl[-1]}")

The First Element: 1
The Middle Element: 6
The Last Element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [7]:
print(f"The first three elements: {tpl[:3]}")
print(f"The first three elements: {tpl[:-3]}")
print(f"Index 2 to 5:{tpl[2:6]}")

The first three elements: (1, 2, 3)
The first three elements: (1, 2, 3, 4, 5, 6, 7)
Index 2 to 5:(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [9]:
matrix=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("Matrix:")
for row in matrix:
    print(row)
print(f"The element on the second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The element on the second row and third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [11]:
tpl1=(1,2,3)
tpl2=(4,5,6)

tpl_concatenate=tpl1 + tpl2
print(tpl_concatenate)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [16]:
tpl3=(1,2,2,3,3,3,4,5,5,6,7,7,7,8)

print(f"Occurrences of 7: {tpl3.count(7)}")
print(f"Index of first occurrence of 3: {tpl3.index(3)}")

Occurrences of 7: 3
Index of first occurrence of 3: 3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [19]:
tpl4=(1,2,3,4,5)
a, b, c, d, e = tpl4
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [2]:
lst=[1, 2, 3, 4, 5]
tpl5=tuple(lst)
print(tpl5)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [3]:
tpl6=(
    (1,2,3),
    (4,5,6),
    (7,8.9)
)

print(tpl6)

((1, 2, 3), (4, 5, 6), (7, 8.9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [8]:
tpl7=(1,2,3,4,5)
lst=list(tpl7)
lst.append(6)
tpl_append=tuple(lst)
print(tpl_append)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [10]:
string= "BABY"
tpl8=string
joint_tpl=''.join(tpl8)
print(joint_tpl)

BABY

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [11]:
## Copied!!
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [13]:
nested_tuple=((1,2),(3,4),(5,6))
for tpl in nested_tuple:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [14]:
duplicate_tpl=(1,3,3,5,7,7,9)
unique_numbers=tuple(set(duplicate_tpl))
print(unique_numbers)

(1, 3, 5, 7, 9)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [15]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tuple=(1,3,5,7,9)
print(f"The minimum value: {min_in_tuple(sample_tuple)}")
print(f"The maximum value: {max_in_tuple(sample_tuple)}")
print(f"The sum is: {sum_of_tuple(sample_tuple)}")

The minimum value: 1
The maximum value: 9
The sum is: 25