In [ ]:
## Data Types 
## Classification of data which tell the compiler or interpreter how the programmer intends to use the data

In [1]:
## Interger  Example

age=23
type(age)

int

In [2]:
##Floating point datatype
height= 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
#String datatype examples
name="Angeka"
print(name)
print(type(name))

Angeka
<class 'str'>

In [4]:
## Boolean Datatype

is_true=True
type(is_true)

bool

In [ ]:
a=10
b=10

a==b

type(a==b)

True

In [10]:
##Common Errors

results="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [11]:
results="Hello" +str(5)
print(results)

Hello5