### SQL And SQLite 

SQL (Structure Quey Language) is a standard language for managing and maniplating relational databases. SQLite is a self-contained, serveless and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
# Connect to a SQLite database

connection= sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
# Create a table 
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer, 
    department text
    )    
''')

# Commit the changes
connection.commit()

In [5]:
cursor.execute('''
    Select * from employees

''')

In [6]:
# Inserting data in sqlite table

cursor.execute('''
    Insert Into employees(name, age,department)
                values('Angela', 23, 'IT')
    ''')

cursor.execute('''
    Insert Into employees(name, age,department)
                values('Bob', 25, 'Engineering')
    ''')

cursor.execute('''
    Insert Into employees(name, age,department)
                values('Charlie', 30, 'Finance')
    ''')

connection.commit()

In [7]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, 'Angela', 23, 'IT')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 30, 'Finance')

In [9]:
# Update data in the table

cursor.execute('''
UPDATE employees
Set age =21
where name = "Angela"
''')

connection.commit()

In [10]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, 'Angela', 21, 'IT')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 30, 'Finance')

In [11]:
# Delete data from the table

cursor.execute('''
Delete from employees
            Where name ="Bob"
''')

connection.commit()

In [12]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, 'Angela', 21, 'IT')
(3, 'Charlie', 30, 'Finance')

In [13]:
# Working With Sales Data
#Connect to an SQLite Database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date, product, sales, region)
                    values(?,?,?,?)
''', sales_data)

connection.commit()

In [14]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [15]:
## close the connection
connection.close()

In [16]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.