# Module: Pandas Assignments
## Lesson: Pandas

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [1]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  24  60  64  63
1   4  31  89  53
2  94  33   9  94
3  39  35  52  58
4  40  10  79  13
5  93  17  32  46
DataFrame with new index:
     B   C   D
A
24  60  64  63
4   31  89  53
94  33   9  94
39  35  52  58
40  10  79  13
93  17  32  46

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  66  34  99
Y  47  96  12
Z  44  36  16
Element at row 'Y' and column 'B': 96

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [4]:
df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# add a new column
df['D']= df['A'] * df['B']
print("Updated DataFrame:")
print(df)

Original DataFrame:
    A   B   C
0  34  71  61
1  48  32  20
2  73   5  58
3  77   3  89
4  21  88  68
Updated DataFrame:
    A   B   C     D
0  34  71  61  2414
1  48  32  20  1536
2  73   5  58   365
3  77   3  89   231
4  21  88  68  1848

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [6]:
df =pd.DataFrame(np.random.randint(1,100, size=(4,3)))
print("Original DataFrame:")
print(df)

# row wise and column wise sum 
row_sum= df.sum(axis=1)
column_sum=df.sum(axis=0)

print("Row-Wise sum:")
print(row_sum)
print("Column_Wise sum:")
print(column_sum)

Original DataFrame:
    0   1   2
0  59  45  86
1  95  98  80
2  62  23  66
3   8  88  62
Row-Wise sum:
0    190
1    273
2    151
3    158
dtype: int64
Column_Wise sum:
0    224
1    254
2    294
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [12]:
df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0,1]=np.nan
df.iloc[3,0]=np.nan
df.iloc[2,2]=np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace = True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  45  25  80
1  28  95  98
2  48  78  79
3  47  84  91
4  41  92   3
DataFrame with NaN values:
      A     B     C
0  45.0   NaN  80.0
1  28.0  95.0  98.0
2  48.0  78.0   NaN
3   NaN  84.0  91.0
4  41.0  92.0   3.0
DataFrame with NaN values filled:
      A      B     C
0  45.0  87.25  80.0
1  28.0  95.00  98.0
2  48.0  78.00  68.0
3  40.5  84.00  91.0
4  41.0  92.00   3.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [19]:
df = pd.DataFrame(np.random.randint(1,100, size=(6,4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce NaN values
df.iloc[0,3]=np.nan
df.iloc[1,2]=np.nan
df.iloc[4,3]=np.nan
print("DataFrames with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("New DataFrame:")
print(df)

Original DataFrame:
    A   B   C   D
0  83  44  10  67
1  39  90  65  18
2  10  81  31  40
3  91  94  63  72
4  36  45  36  93
5  51  47  99  31
DataFrames with NaN values:
    A   B     C     D
0  83  44  10.0   NaN
1  39  90   NaN  18.0
2  10  81  31.0  40.0
3  91  94  63.0  72.0
4  36  45  36.0   NaN
5  51  47  99.0  31.0
New DataFrame:
    A   B     C     D
2  10  81  31.0  40.0
3  91  94  63.0  72.0
5  51  47  99.0  31.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [24]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

grouped= df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        A     46
1        A     37
2        B     60
3        B     10
4        A     18
5        C      7
6        B     22
7        B     49
8        B     65
9        C     92
Grouped DataFrame:
          sum       mean
Category
A         101  33.666667
B         206  41.200000
C          99  49.500000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [27]:
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod3        A     33
1   Prod2        B     25
2   Prod2        A     73
3   Prod3        B     96
4   Prod3        A     59
5   Prod1        C     60
6   Prod3        B     76
7   Prod3        B     73
8   Prod1        A     41
9   Prod1        B     76
Grouped DataFrame:
Category
A    206
B    346
C     60
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [29]:
df1= pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2= pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged= pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      65
1   B      39
2   C      42
3   D      60
DataFrame 2:
  Key  Value2
0   A      23
1   B      64
2   C      35
3   E      46
Merged DataFrame:
  Key  Value1  Value2
0   A      65      23
1   B      39      64
2   C      42      35

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [32]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 10, size=3), 'B': np.random.randint(1, 10, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 10, size=3), 'D': np.random.randint(1, 10, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
   A  B
0  8  1
1  1  5
2  3  5
DataFrame 2:
   C  D
0  3  4
1  3  7
2  5  8
Concatenated DataFrame (rows):
     A    B    C    D
0  8.0  1.0  NaN  NaN
1  1.0  5.0  NaN  NaN
2  3.0  5.0  NaN  NaN
0  NaN  NaN  3.0  4.0
1  NaN  NaN  3.0  7.0
2  NaN  NaN  5.0  8.0
Concatenated DataFrame (columns):
   A  B  C  D
0  8  1  3  4
1  1  5  3  7
2  3  5  5  8

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [36]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2025-01-01', end='2025-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2025-01-01     1
2025-01-02    63
2025-01-03    11
2025-01-04    54
2025-01-05     5
...          ...
2025-12-27    79
2025-12-28    74
2025-12-29    23
2025-12-30     0
2025-12-31    73

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2025-01-31  43.483871
2025-02-28  44.571429
2025-03-31  59.419355
2025-04-30  46.766667
2025-05-31  53.838710
2025-06-30  47.800000
2025-07-31  49.258065
2025-08-31  47.032258
2025-09-30  47.733333
2025-10-31  49.806452
2025-11-30  53.100000
2025-12-31  54.612903

/var/folders/jg/_tlplb5x29sg5lm509cb74xc0000gn/T/ipykernel_3562/2098297039.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [37]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    71
2021-01-02    54
2021-01-03    50
2021-01-04    73
2021-01-05    49
...          ...
2021-12-27    66
2021-12-28    84
2021-12-29    55
2021-12-30     4
2021-12-31    59

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  69.714286
2021-12-28  76.857143
2021-12-29  70.857143
2021-12-30  58.142857
2021-12-31  53.428571

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.


### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.