# Module: Pandas Assignments
## Lesson: Pandas

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [4]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  17  76  72  39
1  83  96  15  43
2   5  70  73  50
3  54  87  33  40
4  25  61  88   7
5   9  75  49  49
DataFrame with new index:
     B   C   D
A
17  76  72  39
83  96  15  43
5   70  73  50
54  87  33  40
25  61  88   7
9   75  49  49

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [5]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  10  80  78
Y  59  69  99
Z  70  12  73
Element at row 'Y' and column 'B': 69

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [6]:
df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# add a new column
df['D']= df['A'] * df['B']
print("Updated DataFrame:")
print(df)

Original DataFrame:
    A   B   C
0  69  83  79
1  32  70  17
2  32  80  22
3   4  23  48
4   1  49  52
Updated DataFrame:
    A   B   C     D
0  69  83  79  5727
1  32  70  17  2240
2  32  80  22  2560
3   4  23  48    92
4   1  49  52    49

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [7]:
df =pd.DataFrame(np.random.randint(1,100, size=(4,3)))
print("Original DataFrame:")
print(df)

# row wise and column wise sum 
row_sum= df.sum(axis=1)
column_sum=df.sum(axis=0)

print("Row-Wise sum:")
print(row_sum)
print("Column_Wise sum:")
print(column_sum)

Original DataFrame:
    0   1   2
0  55  86  16
1  55  20  27
2  14  42  28
3  98  73  68
Row-Wise sum:
0    157
1    102
2     84
3    239
dtype: int64
Column_Wise sum:
0    222
1    221
2    139
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [8]:
df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0,1]=np.nan
df.iloc[3,0]=np.nan
df.iloc[2,2]=np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace = True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  57  66  37
1  49  79  95
2  63  29  98
3   8  51  72
4  17  86  70
DataFrame with NaN values:
      A     B     C
0  57.0   NaN  37.0
1  49.0  79.0  95.0
2  63.0  29.0   NaN
3   NaN  51.0  72.0
4  17.0  86.0  70.0
DataFrame with NaN values filled:
      A      B     C
0  57.0  61.25  37.0
1  49.0  79.00  95.0
2  63.0  29.00  68.5
3  46.5  51.00  72.0
4  17.0  86.00  70.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [9]:
df = pd.DataFrame(np.random.randint(1,100, size=(6,4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce NaN values
df.iloc[0,3]=np.nan
df.iloc[1,2]=np.nan
df.iloc[4,3]=np.nan
print("DataFrames with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("New DataFrame:")
print(df)

Original DataFrame:
    A   B   C   D
0  52  25  25  88
1  51  19  16  99
2  17   8  19  45
3  71  88  94  36
4  69  81  43  17
5  35  10  91  81
DataFrames with NaN values:
    A   B     C     D
0  52  25  25.0   NaN
1  51  19   NaN  99.0
2  17   8  19.0  45.0
3  71  88  94.0  36.0
4  69  81  43.0   NaN
5  35  10  91.0  81.0
New DataFrame:
    A   B     C     D
2  17   8  19.0  45.0
3  71  88  94.0  36.0
5  35  10  91.0  81.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [10]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

grouped= df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        C      5
1        C     27
2        B     49
3        C     47
4        A     99
5        C     95
6        C     75
7        A     64
8        B     32
9        C     44
Grouped DataFrame:
          sum       mean
Category
A         163  81.500000
B          81  40.500000
C         293  48.833333

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [11]:
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod3        A     75
1   Prod3        B     71
2   Prod2        A     20
3   Prod3        C     57
4   Prod1        A     62
5   Prod3        A      1
6   Prod3        B     38
7   Prod2        C      1
8   Prod3        A     44
9   Prod1        B     48
Grouped DataFrame:
Category
A    202
B    157
C     58
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [12]:
df1= pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2= pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged= pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      41
1   B      87
2   C      53
3   D      17
DataFrame 2:
  Key  Value2
0   A       2
1   B      35
2   C      29
3   E       4
Merged DataFrame:
  Key  Value1  Value2
0   A      41       2
1   B      87      35
2   C      53      29

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [13]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 10, size=3), 'B': np.random.randint(1, 10, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 10, size=3), 'D': np.random.randint(1, 10, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
   A  B
0  3  1
1  2  5
2  3  8
DataFrame 2:
   C  D
0  7  4
1  2  3
2  9  8
Concatenated DataFrame (rows):
     A    B    C    D
0  3.0  1.0  NaN  NaN
1  2.0  5.0  NaN  NaN
2  3.0  8.0  NaN  NaN
0  NaN  NaN  7.0  4.0
1  NaN  NaN  2.0  3.0
2  NaN  NaN  9.0  8.0
Concatenated DataFrame (columns):
   A  B  C  D
0  3  1  7  4
1  2  5  2  3
2  3  8  9  8

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [14]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2025-01-01', end='2025-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2025-01-01    82
2025-01-02    41
2025-01-03    85
2025-01-04    15
2025-01-05    71
...          ...
2025-12-27    91
2025-12-28    69
2025-12-29    88
2025-12-30    40
2025-12-31    23

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2025-01-31  43.064516
2025-02-28  50.250000
2025-03-31  56.161290
2025-04-30  47.900000
2025-05-31  55.516129
2025-06-30  45.000000
2025-07-31  43.258065
2025-08-31  39.677419
2025-09-30  36.633333
2025-10-31  54.709677
2025-11-30  52.600000
2025-12-31  53.580645

/var/folders/jg/_tlplb5x29sg5lm509cb74xc0000gn/T/ipykernel_1171/2098297039.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [15]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    85
2021-01-02    32
2021-01-03    56
2021-01-04    15
2021-01-05    71
...          ...
2021-12-27    24
2021-12-28     2
2021-12-29    81
2021-12-30    47
2021-12-31    88

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  60.428571
2021-12-28  51.428571
2021-12-29  53.714286
2021-12-30  52.000000
2021-12-31  52.000000

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [18]:
arrays =['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'B':")
print(df.loc['B'])

print("Slicing at Category 'A' and SubCategory 'two':")
print(df.loc[('A', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              93      31      45
         two              57      58      57
B        one              46      38      52
         two               2      27      78
Indexing at Category 'B':
             Value1  Value2  Value3
SubCategory
one              46      38      52
two               2      27      78
Slicing at Category 'A' and SubCategory 'two':
Value1    57
Value2    58
Value3    57
Name: (A, two), dtype: int64

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [23]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
cat_sum = df.groupby(['Category']).sum()
print("Sum of values in Categories:")
print(cat_sum)

subcat_sum = df.groupby(['SubCategory']).sum()
print("Sum of Values in Subcategories:")
print(subcat_sum)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              52      46      93
         two              23      21      19
B        one              89      25      55
         two              28      24       2
C        one              72      46      14
         two              61      38      46
Sum of values in Categories:
          Value1  Value2  Value3
Category
A             75      67     112
B            117      49      57
C            133      84      60
Sum of Values in Subcategories:
             Value1  Value2  Value3
SubCategory
one             213     117     162
two             112      83      67


### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [26]:
date_rng = pd.date_range(start='2025-01-01', end='2025-01-20', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2025-01-05        A     38
1  2025-01-04        B     78
2  2025-01-17        B     57
3  2025-01-05        C     95
4  2025-01-01        A     78
5  2025-01-03        B     67
6  2025-01-17        A     54
7  2025-01-05        A     56
8  2025-01-07        C      5
9  2025-01-15        B     39
10 2025-01-15        A     38
11 2025-01-09        C     19
12 2025-01-16        B     67
13 2025-01-15        A     32
14 2025-01-14        A     49
15 2025-01-04        C      4
16 2025-01-11        B     34
17 2025-01-15        C     50
18 2025-01-18        A     29
19 2025-01-08        A     29
Pivot Table:
Category       A     B     C
Date
2025-01-01  78.0   NaN   NaN
2025-01-03   NaN  67.0   NaN
2025-01-04   NaN  78.0   4.0
2025-01-05  94.0   NaN  95.0
2025-01-07   NaN   NaN   5.0
2025-01-08  29.0   NaN   NaN
2025-01-09   NaN   NaN  19.0
2025-01-11   NaN  34.0   NaN
2025-01-14  49.0   NaN   NaN
2025-01-15  70.0  39.0  50.0
2025-01-16   NaN  67.0   NaN
2025-01-17  54.0  57.0   NaN
2025-01-18  29.0   NaN   NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [27]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2023, 2024, 2025], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2023      Q2      808
1   2023      Q1      109
2   2024      Q1      815
3   2023      Q2      679
4   2023      Q3      325
5   2025      Q3      466
6   2024      Q4      135
7   2025      Q4      332
8   2024      Q1      298
9   2024      Q3      987
10  2024      Q3      486
11  2025      Q2      992
Pivot Table:
Quarter     Q1     Q2     Q3     Q4
Year
2023     109.0  743.5  325.0    NaN
2024     556.5    NaN  736.5  135.0
2025       NaN  992.0  466.0  332.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [29]:
df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

double_df = df.applymap(lambda x: x*2)
print("Double values of Original DataFrame:")
print(double_df)

Original DataFrame:
    A   B   C
0  95  80  60
1   7  77  97
2  27  99  29
3  27  33  32
4  33  24  45
Double values of Original DataFrame:
     A    B    C
0  190  160  120
1   14  154  194
2   54  198   58
3   54   66   64
4   66   48   90

/var/folders/jg/_tlplb5x29sg5lm509cb74xc0000gn/T/ipykernel_1171/77947781.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  double_df = df.applymap(lambda x: x*2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [30]:
df = pd.DataFrame(np.random.randint(1,100, size=(6,3)), columns=['Alpha', 'Beta', 'Cat'])
print("Original DataFrame:")
print(df)

df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
   Alpha  Beta  Cat
0     53    76   62
1     57    39   63
2     55    81   70
3      8    76   68
4     68    45   86
5     31     4   27
DataFrame with Sum column:
   Alpha  Beta  Cat  Sum
0     53    76   62  191
1     57    39   63  159
2     55    81   70  206
3      8    76   68  152
4     68    45   86  199
5     31     4   27   62

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [32]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'mango', 'strawberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3         mango
4    strawberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3         MANGO
4    STRAWBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [34]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'mango', 'strawberry'])
print("Original Series:")
print(text_data)

first_three = text_data.str[:3]
print("First three letters")
print(first_three)

Original Series:
0         apple
1        banana
2        cherry
3         mango
4    strawberry
dtype: object
First three letters
0    app
1    ban
2    che
3    man
4    str
dtype: object